<section class="hero is-fullheight has-text-centered has-background-grey-lighter" id="about">
    <div class="hero-body">
        <div class="container">
            <!-- <div class="aboutme" >
              <p>
                  <hr>
                  I am laksh. I am software engineer by profession..
                  My journey was from electrical engineering to web. From the coarse to more subtle. I must say it is an satisfying experience.I am interested
                  in various other subfields and write about it here. On my free time, I play carnatic flute and quite okay at cricket and badminton
                  Electrical and Electronics->Mehatronics->Embedded->Web/FullStack

              </p>
            </div> -->
            <div class="content is-small has-text-grey">
                <h1>What I do</h1>
                <p> Hey..I am Laksh. I am software engineer by profession..
                    My journey was from electrical engineering to web. From the coarse to more subtle. I must say it is an satisfying experience.I am interested
                    in various other subfields in software development and write about it here.</p>
                <h2>The Real me</h2>
                <p> I am an explorer. Curious about many whole lot of things. I like hiking,adventures. I play carnatic flute and a yoga/meditation practisioner</p>
              </div>
            <div class="columns">
                <!-- <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div> -->
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <!-- <p>{{site.author-about}}</p> -->
                    <br>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>