<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="aboutme" >
              <p>
                  <hr>
                  I am laksh. I am software engineer by profession..
                  My journey was from electrical engineering to web. From the coarse to more subtle. I must say it is an satisfying experience.I am interested
                  in various other subfields and write about it here. On my free time, I play carnatic flute and quite okay at cricket and badminton
                  <hr>
                  Electrical and Electronics->Mehatronics->Embedded->Web/FullStack
                  <hr>
                  <hr>
                  <hr>
                  <hr>
                  <hr>
                  <hr>
                  <hr>
                  <hr>
                  <hr>
                  <hr>
                  <hr>
                  <hr>
                  <hr>
                  <hr>
                  <hr>
                  <hr>
                  <hr>
                  <hr>
                  <hr>
                  <hr>
                  <hr>
              </p>
            </div>
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>